@model IEnumerable<MVC5.Models.SimpleViewModel>

@{
    ViewBag.Title = "Complex4";
}
@*  因為要想辦法把表單的欄位名稱弄出 item[i].欄位名稱，因此宣告一個item把原本的model轉成陣列
    把原本的item.欄位名稱改成item[i].欄位名稱
*@

@{ 
    var item = Model.ToArray();
}
<h2>Complex4</h2>
@*將原本List變成表單需補上表單的語法*@
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmPassword)
            </th>
        </tr>
    
    @for (int i = 0; i < item.Length; i++)
    {
        <tr>
            <td>
                @Html.EditorFor(modelitem => item[i].UserName)
            </td>
            <td>
                @Html.EditorFor(modelitem => item[i].Password)
            </td>
            <td>
                @Html.EditorFor(modelitem => item[i].ConfirmPassword)
            </td>
        </tr>
    }



</table>
@*補上表單送出按鈕*@
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Update" class="btn btn-default" />
    </div>
</div>
}
